<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"
      th:fragment="navbar">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Evaluación Final</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/preguntas}">Preguntas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/swagger}">API</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</html>