<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="es" th:fragment="navbar">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Evaluación Final</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Inicio</a>
                </li>
<li class="nav-item">
                     <a class="nav-link" th:href="@{/preguntas}">Preguntas</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" th:href="@{/juego}">Jugar</a>
                 </li>
                 <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                     <a class="nav-link" th:href="@{/usuarios}">Usuarios</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" th:href="@{/swagger}">API</a>
                </li>
            </ul>
            <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <span class="nav-link text-light">
                        <span sec:authentication="principal.username"></span>
                    </span>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post" class="d-inline">
                        <button type="submit" class="btn btn-outline-light btn-sm mt-1">Cerrar Sesión</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
</html>